# Node
node_modules/
frontend/dist/
frontend/.vite/
npm-debug.log*

# Python
__pycache__/
*.py[cod]
*$py.class
backend/venv/
backend/.venv/
backend/env/
*.egg-info/

# Env files
.env
frontend/.env
backend/.env

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/*
!.vscode/extensions.json
.idea/

# Logs
*.log

# Build
dist/
build/

# Database
*.sqlite3
*.db
