# Python
__pycache__/
*.py[cod]
*.pyo
.venv/
venv/

# Environment
.env

# Node
node_modules/
dist/

# Generated application files
backend/storage/uploads/*
backend/storage/annotated/*
backend/storage/results/*

# Local database
backend/storage/*.db

# IDE
.vscode/
.idea/

# Logs
*.log